@font-face {
    font-family: "Charm-Regular.woff2";
    src: url(Framework/bootstrap-5.2.3-dist/font/Font-Thai/Charm/WOFF2/Charm-Regular.woff2);
}

body , html{
    padding: 0;
    margin: 0;
    font-family: "Charm-Regular.woff2";
    background-color: gray;
}

/* Box */

#Box {
    margin: auto;
    display: block;
    width: 90%;
    background-color: white;
    box-shadow: 0px 0px 50px white;
    border-radius: 20px;
}

/* Banner */

#Banner {
    max-width: 100%;
    height: auto;
}

.banner {
    width: 100%;
}

/* video */

.top-menu {
    font-weight: bold;
    border-bottom: 3px solid orange;
    width: 90%;
    margin: auto;
    display: block;
    background: -webkit-linear-gradient(rgb(244, 230, 79), rgb(248, 117, 36));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.video {
    width: 80%;
    display: block;
    margin: auto;
    box-shadow: 1px 1px 10px;
}

/*                  BF                   */

#BF {
    background-color: rgb(91, 91, 91);
    position: relative;
}

li {
    list-style: none;
}

.a-li {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 8px black;
}

.top-text {
    background: -webkit-linear-gradient(rgb(244, 230, 79), rgb(248, 117, 36));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.BT {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/*                  Footer                   */

footer {
    background-color: black;
    padding: 15px;
}

.text-footer {
    color: white;
    text-align: center;
}